/* ------------------------------------------------------------------------- */
/* LAYOUT                                                                    */
/* ------------------------------------------------------------------------- */
html, body, .wrapper {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  background-color: lightgrey;
}

/* ------------------------------------------------------------------------- */
/* CARDS                                                                     */
/* ------------------------------------------------------------------------- */
.home-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.cards-container {
  background-color: white;
  margin: 2rem;
  height: 35rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.card-body {
  padding: 0;
}

.username-title, .class-title {
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

.all-images {
  align-items: center;
}

.responsive {
  max-width: 100%;
}

img {
  display: block;
}

.image-container {
  /* margin: 15px; */
  position: relative;
}

.classes-container {
  padding: 1rem;
}

.class-container {
  margin: 1rem;
}

.hover-text {
  left: 0;
  right: 0;
  height: 20%;
  bottom: 0;
  width: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.9);
}

.text {
  top: 50%;
  left: 50%;
  color: white;
  font-size: 20px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* ------------------------------------------------------------------------- */
/* MEDIA QUERIES                                                             */
/* ------------------------------------------------------------------------- */
@media screen and (min-width: 600px) {
  .all-images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .image-container {
    width: calc(44% - 2px);
  }
}

@media screen and (min-width: 1000px) {
  .image-container {
    width: calc(30% - 2px);
  }
}